<div class="body-card">
  @for (item of characters; track item.id) {
    <div class="card" >
      <div class="favorite-icon" (click)="toggleFavorite(item)">
        <ng-container *ngIf="(isFavorite(item) | async); else notFavorite">
          <img src="/mottu-frontend-challenge/assets/images/heart_icon_black.svg" alt="Favorite">
        </ng-container>
        <ng-template #notFavorite>
          <img src="/mottu-frontend-challenge/assets/images/heart_icon_white.svg" alt="Favorite">
        </ng-template>
      </div>
      <div class="image">
        <img [src]="item.image" [alt]="item.name">
      </div>
      <div class="infos-text">
        <div class="name">{{ item.name }}</div>
        <div class="species">
          <span class="species__label">Espécie:</span>
          <span class="species__value">{{ item.species }}</span>
        </div>
      </div>
    </div>
  }
</div>
