@import '../../../assets/styles/variables.scss';

.body-card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: 298px;
  .card {
    position: relative;
    flex: 0 0 calc(33.333% - 16px);
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
  }
  .image {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .favorite-icon img {
    width: 100%;
    height: 100%;
  }

  .infos-text {
    background-color: $primary;
    padding: 0 12px 12px 12px;
    gap: 4px;
    .name {
      color: $fontColorWhite;
      font-family: 'Creepster';
    }
    .species {
      color: $fontColorSecondary;
    }
  }
}

@media (max-width: 768px) {
  .body-card {
    justify-content: center;
    .card {
      flex: 0 0 calc(50% - 16px);
    }
    .infos-text {
      .name {
        font-size: 1.2em;
      }
    }
  }
}

@media (max-width: 480px) {
  .body-card {
    justify-content: center;
    .card {
      flex: 0 0 calc(100% - 16px);
    }
    .infos-text {
      .name {
        font-size: 1em;
      }
    }
  }
}
