@import '../../../../assets/styles/variables.scss';

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: 64px;
    background-color: #0A0A0A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__nav {
    display: flex;
    align-items: center;
    border: 1px solid $colorBorder;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    .home, .favorites {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      height: 40px;
      transition: background-color 0.3s, color 0.3s;
    }

    .home {
      background-color: $white;
      color: $fontColorPrimary;
      width: 99px;

      &:hover {
        background-color: darken($white, 10%);
        color: lighten($fontColorPrimary, 10%);
      }
    }

    .favorites {
      background-color: $primary;
      color: $fontColorSecondary;
      width: 154px;

      &:hover {
        background-color: lighten($primary, 10%); // Ajusta a cor para um tom mais claro no hover
        color: darken($fontColorSecondary, 10%); // Ajusta a cor do texto para um tom mais escuro no hover
      }
    }
  }

  // @media (max-width: 740px) {
  //   .header {
  //     &__container {
  //       width: 100%;
  //     }
  //     &__nav {
  //       flex-direction: column;
  //       width: 100%;
  //       margin-top: 8px;

  //       .home, .favorites {
  //         width: 100%;
  //         justify-content: flex-start;
  //         padding: 0 16px;
  //       }
  //     }
  //   }
  // }

  // @media (max-width: 540px) {
  //   .header {
  //     &__container {
  //       flex-direction: column;
  //       height: 100%;
  //       width: 100%;
  //     }
  //     &__nav {
  //       flex-direction: column;
  //       width: 100%;
  //       margin-top: 8px;

  //       .home, .favorites {
  //         width: 100%;
  //         justify-content: flex-start;
  //         padding: 0 16px;
  //       }
  //     }
  //   }

  // }
}

@media (max-width: 480px) {
  .header {
    &__container {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
}
