<div class="header__container">
  <div class="header__logo">
    <img src="/mottu-frontend-challenge/assets/images/logo.svg" alt="logo" />
  </div>
  <div class="header__nav">
    <div class="home" (click)="_router.navigate(['home'])">
      <img src="/mottu-frontend-challenge/assets/images/icon_home.svg" alt="">
      Início
    </div>
    <div class="favorites" (click)="_router.navigate(['favorites'])">
      <img src="/mottu-frontend-challenge/assets/images/icon_favorite.svg" alt="">
      Favoritos
      <span class="badge">{{ favoriteCount$ | async }}</span>
    </div>
  </div>
</div>
