<div class="content">
  <div class="content__head">
    <div class="image-title">
      <img src="/mottu-frontend-challenge/assets/images/content_title.svg" alt="">
    </div>
    <div class="search">
      <app-input-search (searchTextChanged)="onSearchTextChanged($event)"></app-input-search>
    </div>
  </div>
  @if (characters.length > 0) {
    <app-character-card [characters]="characters"></app-character-card>
  } @else {
    <app-nothing-found [content]="content"></app-nothing-found>
  }
</div>
