.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 720px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .image-title {
      flex: 1;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .search {
      flex: 2;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__body {
    flex: 1;
    padding: 10px;
  }
}

@media (max-width: 720px) {
  .content {
    width: 75%;
    &__head {
      flex-direction: column;
    }
    &__body {
      flex-direction: column;
    }
  }
}

@media (max-width: 480px) {
  .content {
    width: 100%;
  }
}
