<div class="content">
  <div class="content__head">
    <div class="image-title">
      <img src="/mottu-frontend-challenge/assets/images/favorite_title.svg" alt="">
    </div>
  </div>
  <ng-container *ngIf="(characters$ | async) as characters">
    <ng-container *ngIf="characters && characters.length > 0; else noFavorites">
      <app-character-card [characters]="characters"></app-character-card>
    </ng-container>
  </ng-container>
  <ng-template #noFavorites>
    <app-nothing-found
      [hasActionButton]="true"
      [propertiesActionButton]="propertiesActionButton"
      [content]="contentNothingFound">
    </app-nothing-found>
  </ng-template>
</div>
